@function lighten-hsl($h, $s, $l, $amount) {
  @return hsl($h, $s, $l + $amount);
}

@function darken-hsl($h, $s, $l, $amount) {
  @return hsl($h, $s, $l - $amount);
}

// --------------------------------------
// Mixin for accent gradient
// --------------------------------------
@mixin accent-gradient($h, $s, $l) {
  $accent-base: hsl($h, $s, $l);
  $accent-light: lighten-hsl($h, $s, $l, 15%);
  $accent-dark: darken-hsl($h, $s, $l, 8%);

  background: linear-gradient(90deg, $accent-dark, $accent-base, $accent-light);
}

@mixin semi-transparent($color-var, $opacity: 0.7) {
  background-color: color-mix(in srgb, $color-var $opacity * 100%, transparent);
}
