// app/styles/rsvp.scss
@use "app/styles/variables" as *;

.rsvp-page {
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-family: $font-body;

  h1 {
    font-family: $font-fancy;
    font-size: $font-size-3xl;
    color: $color-accent;
  }

  .step-description {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-lg;
    line-height: 1.5;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $bp-sm) {
      font-size: $font-size-md;
      padding: 0 $space-sm;
    }
  }

  p.step-description {
    margin-top: 0;
  }

  /* Responsive */
  @media (max-width: $bp-md) {
    padding: $space-md;
    max-width: 90%;
  }
}
