@use "app/styles/variables" as *;
@use "app/styles/mixins" as *;

.nav {
  position: sticky;
  top: -50px;
  left: 0;
  right: 0;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  padding-top: $space-lg;
  width: 100%;
  z-index: 99;
  -webkit-font-smoothing: antialiased;
  justify-content: end;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 25vh;
    min-height: 175px;
    max-height: 215px;
    @include semi-transparent($color-background, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    mask-image: linear-gradient(to bottom, black 45%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 45%, transparent 100%);
    z-index: -1;
    pointer-events: none;
  }

  html[data-theme="dark"] &::before {
    background-color: rgba(20, 20, 20, 0.6);
  }

  .nav-countdown {
    position: absolute;
    left: 0;
    margin-left: 0.5rem;
    flex: 0 0 auto;
  }

  .nav-links.desktop {
    display: flex;
    position: relative;

    .nav-link {
      padding: 2rem 0.6rem 1rem 0.6rem;
      border-radius: $radius-sm;
      color: $color-accent;
      transition:
        color 0.2s ease,
        background 0.2s ease;

      &:hover {
        color: $color-accent;
      }
    }

    .nav-indicator {
      position: absolute;
      height: 3px;
      background: $color-accent;
      border-radius: 3px;
      bottom: -2px;
      z-index: 1;
      transition:
        transform 0.18s ease,
        width 0.18s ease;
    }
  }

  @media (max-width: 768px) {
    justify-content: center;
    align-items: center;
    
    .nav-links {
        position: relative;
        &::after{
            position: absolute;
            content: "";
            left: 50%;
            right: -120%;
            bottom: -1px;
            border-bottom: 1px solid $color-border;
            transform: translateX(-50%);
        }
    }

    .nav-countdown {
      display: none;
    }
  }
}
