@use "app/styles/mixins" as *;
@use "app/styles/variables" as *;

.progress-bar-container {
  width: 100%;
  max-width: calc(100% - 60px);
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: $space-lg 0;

  .progress-bar {
    width: 100%;
    height: 1px;
    background: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 5px,
      $color-border 5px,
      $color-border 10.5px
    );
    border-radius: 4px;
    position: relative;
    overflow: visible;
    margin: auto 0;

    .progress-bar__fill {
      height: 100%;
      border-radius: 4px;
      background: var(--color-primary);
      position: relative;
      z-index: 1;
    }

    /* Step container */
    .progress-bar__steps {
      position: absolute;
      inset: 0;
      z-index: 2;
    }

    /* Individual step dot */
    .progress-step {
      position: absolute;
      top: 0%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 2px solid $color-border;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-xs;
      padding: $space-xs;
      outline: 4px solid var(--color-background);
      outline-offset: -1px;
      border-width: 3px;
      background-color: var(--color-background);
      color: $color-border;
      transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;

      svg {
        width: 70%;
        height: 70%;
      }

      .progress-step-status-icon {
        &.hidden * {
          opacity: 0 !important;
        }
        * {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          right: -5%;
          bottom: -5%;
          width: 30%;
          height: 30%;
          background: $color-accent;
          border-radius: 50%;
          padding: 3px;
          margin: 0;
          color: $color-white;
          font-family: sans-serif;
          font-size: $font-size-3xs;
          font-weight: $fw-semibold;
          line-height: $font-size-3xs;
        }
      }

      &--active {
        background-color: var(--color-white);
        border-color: var(--color-border);
        color: $color-border;
      }

      &--completed {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-white);
      }

      > * {
        pointer-events: none;
        white-space: nowrap;
      }
    }
  }
}
